<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Logistic Regression | Machine Learning</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">


<head>

  <script src="/static/libraries/bower_components/jquery/dist/jquery.js"></script>

  <meta charset="utf-8">
  <title>Logistic Regression | Machine Learning</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">
<script data-turbolinks-track="true" type="script/javascript" src="/static/libraries/bower_components/jquery/dist/jquery.js"></script>

  <script data-turbolinks-track="true" type="script/javascript" src="/static/libraries/bower_components/bootstrap/dist/js/bootstrap.js"></script>


<link rel="stylesheet" href="/static/libraries/bower_components/bootstrap/dist/css/bootstrap.css" type="text/css" media="all">

  <script data-turbolinks-track="true" src="/static/libraries/d3js/d3.js"></script>
  <script data-turbolinks-track="true" src="/static/libraries/d3js/d3.min.js"></script>



  <script src="/static/libraries/bower_components/angular/angular.js"></script>
  <script src="/static/libraries/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  <script src="/static/libraries/bower_components/angular-route/angular-route.js"></script>



</head>
<body ng-app="mlTut">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">Machine Learning</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class=""><a href="#logreg">Logistic Regression</a></li>
          <li><a href="#nnets">Neural Network</a></li>
          <li><a href="#svm">SVM</a></li>
        </ul>
      </div>
    </div>
  </div>


  <script data-turbolinks-track="true" src="/static/javascripts/AjaxManager.js?body=1"></script>
  <script data-turbolinks-track="true" src="/static/javascripts/D3Graphics/Circle.js?body=1"></script>
  <script data-turbolinks-track="true" src="/static/javascripts/D3Graphics/D3Graphics.js?body=1"></script>
  <script data-turbolinks-track="true" src="/static/javascripts/D3Graphics/GraphicsData.js?body=1"></script>
  <script data-turbolinks-track="true" src="/static/javascripts/D3Graphics/Rectangle.js?body=1"></script>
  <script data-turbolinks-track="true" src="/static/javascripts/Dataset.js?body=1"></script>
  <script data-turbolinks-track="true" src="/static/javascripts/FeatureMapper.js?body=1"></script>
  <script data-turbolinks-track="true" src="/static/javascripts/HeatMapGen.js?body=1"></script>
  <script data-turbolinks-track="true" src="/static/javascripts/HypoFunction.js?body=1"></script>
  <script data-turbolinks-track="true" src="/static/javascripts/logisticTrainer.js?body=1"></script>
  <script data-turbolinks-track="true" src="/static/javascripts/graphics.js"></script>

  <script type="text/javascript" src="/static/app.js"></script>
  <script type="text/javascript" src="static/controllers/logregCtrl.js"></script>
  <script type="text/javascript" src="static/components/neuralnet/neuralnet.js"></script>
  <script type="text/javascript" src="static/components/neuralnet/neuralNetService.js"></script>

<script type="text/javascript">

var heightSvg = 500;
var widthSvg = 600;
var svgContainer;

</script>

<br>
<br>
<div class="container" >
  <div ng-view></div>
</div>
</body>

</html>
