<br>

<button class='btn btn-danger' id='classbtn' onClick="changeClass()">ChangeClass</button>
<button class='btn btn-success' ng-click="onTrainClick() ">Train</button>
<br>
<br>

<div class="row">
<div class="col-md-6">
  <p id="svggg" style="width:100%">
  </p>


  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{percentComplete}}" aria-valuemin="0" aria-valuemax="100" style="width:{{percentComplete}}%">
      {{percentComplete | number : 1}} %
    </div>
  </div>
  

  <b>Error</b> : {{cost}}
</div>

<div id="progressReport" style="display:inline" class="col-md-6">

<svg 
  id="nnet_svg" 
  width="100%" 
  height="500px" 
  style="border: 1px solid;" >


</svg>

  <label>
    <input type="radio" ng-model="ml_algo" value="logreg">
    Logistic Regression
  </label>  
  <br>
  <label>
    <input type="radio" ng-model="ml_algo" value="nnet">
    Neural Network
  </label>


  <br>

  Degree/Neurons : <input ng-model="degree" placeholder="Degree"  /><br>
  <!-- DivFac : <input ng&#45;model="divFactor" placeholder="DivFactor" /><br> -->
  <!-- Alphav : <input ng&#45;model="alpha" placeholder="alpha" /> -->

    <br>
    <br>




</div>
</div>

</p>
